@model GeraClasseMvc.Web.Models.PrincipalViewModel;

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.IdeDesenvolvimentoListItem);

        <!-- #region TEXTAREA -->
        <div>
            <textarea class="form-control" id="txtArea" rows="15" cols="12" readonly></textarea>
        </div>
        <!-- #endregion -->
        <!-- #region METADADOS -->
        <div class="form-row mt-4 pl-1">
            <div class="col-10">
                <label class="custom-file-label font-weight-bold">Arquivo Metadados</label>
                <input type="file" class="custom-file-input" id="txtMetadados" readonly>
            </div>

            <div class="col-2">
                <button class="btn btn-secondary" id="btnGerarClasse">Confirmar</button>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region SELECT -->
        <div class="form-row mt-3">
            <div class="col-4">
                <label for="IdeDesenvolvimento" class="titulo-label">IDE de desenvolvimento</label>
                @if (Model.IdeDesenvolvimentoListItem != null)
                {
                    @Html.DropDownList("IdeDesenvolvimento", (IEnumerable<SelectListItem>)Model.IdeDesenvolvimentoListItem, new { id = "cboIdeDesenvolvimento", @class = "form-control titulo-label-select", required = "false" });
                }
            </div>
            <div class="col-4">
                <label for="EstiloFormulario" class="titulo-label">Estilo do formulário</label>
                @if (Model.EstiloFormularioListItem != null)
                {
                    @Html.DropDownList("EstiloFormulario", (IEnumerable<SelectListItem>)Model.EstiloFormularioListItem, new { id = "cboEstiloFormulario", @class = "form-control titulo-label-select", required = "false" });
                }
            </div>
            <div class="col-4">
                <label for="BancoDeDados" class="titulo-label">Banco de dados</label>
                @if (Model.BancoDeDadosListItem != null)
                {
                    @Html.DropDownList("BancoDeDados", (IEnumerable<SelectListItem>)Model.BancoDeDadosListItem, new { id = "cboBancoDeDados", @class = "form-control titulo-label-select", required = "false" });
                }
            </div>
        </div>
        <!-- #endregion -->
    }
</div>