#txtArea {
    overflow-y: scroll;
    resize: none;
    border: 0;
    box-shadow: none;
    background-color: white;
    color: black;
    font-weight: bold;
}

.custom-file-input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.titulo-label-select {
    font-size: 1.0rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: black;
}

option {
    font-size: 1.0rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: black;
}

.file-input-wrapper {
    height: 30px;
    margin: 2px;
    overflow: hidden;
    position: relative;
    width: 118px;
    background-color: #fff;
    cursor: pointer;
}

    .file-input-wrapper > input[type="file"] {
        font-size: 40px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        cursor: pointer;
    }

    .file-input-wrapper > .btn-file-input {
        background-color: #494949;
        border-radius: 4px;
        color: #fff;
        display: inline-block;
        height: 34px;
        margin: 0 0 0 -1px;
        padding-left: 0;
        width: 121px;
        cursor: pointer;
    }

    .file-input-wrapper:hover > .btn-file-input {
        /*background-color: #494949;*/
    }
