#InformacaoTextArea {
    overflow-y: scroll;
    resize: none;
    border: 0;
    box-shadow: none;
    background-color: white;
    color: black;
    font-weight: bold;
    border-color: #1861ac;
    height: 60%;
}

.custom-file-input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.titulo-label-select {
    font-size: 1.0rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: black;
}

option {
    font-size: 1.0rem;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: black;
}

#titulo-botao-confirmar {
    font-size: 100%;
    font-family: Arial, sans-serif;
    font-weight: 500;
}

@media (max-width:768px) {
    #btnGerarClasse {
        font-size: 100%;
        padding-right: 1px;
        padding-left: 1px;
        overflow: hidden;
    }

    .container-dropdown {
        flex-direction: column;
        width: 100%;
    }

    .titulo-label {
        margin-top: 10px;
    }

    #titulo-botao-confirmar {
        font-size: 90%;
    }
}

@media (max-width:576px) {
    #titulo-botao-confirmar {
        font-size: 80%;
    }
}

@media (max-width:380px) {
    #titulo-botao-confirmar {
        font-size: 70%;
    }
}

@media (max-width:300px) {
    #titulo-botao-confirmar {
        font-size: 0%;
    }
}