body
{
  background-color: rgb(23, 23, 23);
}

.container
{
  padding-top:10%;
}

#lblTextoPrincipal
{
  color: white;
  text-align: center;
}

.lblFormPrincipal 
{
  color: white;
}

.custom-file-label
{
  margin-left: 0.5%;
}

.divEspacoBotton 
{
  padding-bottom: 3%;
}

#txtArea
{
  overflow-y: scroll;
  resize: none;
  border: 0;
  box-shadow: none;
  background-color: white;
  color: black;
  font-weight: bold;
}

#divCombobox 
{
  padding-top: 3%;
}